 <!-- Family Image -->
 <section id="about">

    <div class="mt-0 pt-5" style="text-align: center;">
        <h2>What is Envelope Budgeting?</h2>
        <img class="center-block mt-5" style=" max-width: 100%;" src="Assets/family.png" alt="Family Photo">
    </div>
</section>

<!-- Product Description -->
<setion>
    <div class="container-sm mt-3">
        <div class="text-center">

            <p class="lead text-muted mt-2">Envelope Budgeting is the method of seperating your monthly or weekly
                income into segments. These segments help visualise what money needs to go where. For instance,
                needing £750 for mortgage and bills or £200 for groceries. By doing this, you can see a clear
                picture of where your money is going and what is left over from each to allow for a greater control
            </p>
        </div>
    </div>
</setion>


<section class="bg-light">
    <div class="container-sm">
        <div class="text-center mt-5 pt-5">
            <h2>Why Choose Envelope Budgeting?</h2>
        </div>
        <div class="row my-5 justify-content-around align-items-center">

            <div class="col-sm-10">

                <!-- Accordian-->
                <div class="accordion accordion-flush" id="reasons">

                    <div class="accordion-item mb-1">
                        <h2 class="accordion-header" id="reason-header-1">
                            <button
                                class="accordion-button fw-normal fs-4 fst-italic text-darkstar fw-bold border border-1  border-warning"
                                type="button" data-bs-toggle="collapse" data-bs-target="#reason-1"
                                aria-expanded="true" aria-controls="reason-1"
                                style="background-color:rgb(255, 255, 255); color: #f7c705;">
                                Control
                            </button>
                        </h2>
                        <div id="reason-1" class="accordion-collapse collapse" aria-labelledby="reason-header-1"
                            data-bs-parent="#reasons">
                            <div class="accordion-body lead bg-white" style="background-color: rgb(255, 255, 255);">
                                <p class="fw-normal">Gain complete control by means of:</p>
                                <div style="padding-left: 10px;">
                                    <li>Visual Representation</li>
                                    <li>Segmentation</li>
                                </div>

                            </div>
                        </div>
                    </div>

                    <div class="accordion-item mb-1">
                        <h2 class="accordion-header" id="reason-header-2">
                            <button
                                class="accordion-button fw-normal fs-4 fst-italic text-darkstar fw-bold border border-1 border-warning"
                                type="button" data-bs-toggle="collapse" data-bs-target="#reason-2"
                                aria-expanded="true" aria-controls="reason-2"
                                style="background-color:rgb(255, 255, 255); color: #f7c705;">
                                Saving
                            </button>
                        </h2>
                        <div id="reason-2" class="accordion-collapse collapse" aria-labelledby="reason-header-2"
                            data-bs-parent="#reasons">
                            <div class="accordion-body lead bg-white" style="background-color: rgb(255, 255, 255);">
                                <p class="fw-normal">Planning for the future:</p>
                                <div style="padding-left: 10px;">
                                    <li>Complete view of excess funds</li>
                                    <li>Resources on where to put them</li>
                                </div>
                            </div>
                        </div>

                        <div class="accordion-item mb-1 mt-1 mb-5 pb-5 bg-light">
                            <h2 class="accordion-header" id="reason-header-3">
                                <button
                                    class="accordion-button fw-normal fs-4 fst-italic text-darkstar fw-bold border border-1 border-warning"
                                    type="button" data-bs-toggle="collapse" data-bs-target="#reason-3"
                                    aria-expanded="true" aria-controls="reason-3"
                                    style="background-color:rgb(255, 255, 255); color: #f7c705;">
                                    Rainy Day
                                </button>
                            </h2>
                            <div id="reason-3" class="accordion-collapse collapse" aria-labelledby="reason-header-3"
                                data-bs-parent="#reasons">
                                <div class="accordion-body lead bg-white"
                                    style="background-color: rgb(255, 255, 255);">
                                    <p class="fw-normal ">Be Prepared for the worst:</p>
                                    <div style="padding-left: 10px;">
                                        <li>Grow your pot with confidence</li>
                                        <li>Tips on what to do with excess funds</li>
                                    </div>
                                </div>

                            </div>

                        </div>

                    </div>

                </div>
            </div>
        </div>
