<div class="row justify-content-center justify-content-sm-start mb-5 mt-4 ps-3">
    <a href="#loginOffcanvas" class="d-block ms-2 btn btn-outline-primary btn-lg col-xl-2 col-4"
    data-bs-toggle="offcanvas" role="button" aria-controls="log-in-bar" id="loginButton">Log In</a>
    
    <a href="#signupOffcanvas" class="d-block btn ms-2 btn-outline-primary btn-lg col-xl-2 col-4"
                        data-bs-toggle="offcanvas" role="button" aria-controls="signupOffcanvas" id="signupButton">Sign Up</a>

<!-- Log in -->
    <div class="offcanvas offcanvas-start" tabindex="-1"
        aria-labelledby="loginOffcanvas" id="loginOffcanvas">
        <div class="offcanvas-header">
            <h5 class="offcanvas-title display-6" id="log-in-bar-label">Log In</h5>
            <button class="btn-close" type="button" data-bs-dismiss="offcanvas"
                aria-labelledby="close"></button>
        </div>
        <div class="offcanvas-body">
            <form action="/login" method="POST">
                <label for="username"
                    class="form-label mt-5 pt-5">Username:</label>
                <div class="input-group mb-4">
                    <span class="input-group-text">
                        <i class="bi bi-person-fill"></i>
                    </span>
                    <input type="text" class="form-control"
                        placeholder="e.g. ExampleUser123!" name="username" required>
                    </div>

                <label id='passwordLabel' for="log-in-password" class="form-label">Password:</label>
                <div class="mb-4 input-group">
                    <span class="input-group-text">
                        <i class="bi bi-incognito"></i>
                    </span>
                    <input type="password" class="form-control" id="log-in-password"
                        placeholder="e.g. P@55w0rd" name="password" required>
                    <p id="loginError" class="fs-6 mt-2 text-danger"></p>
                </div>
                <div class="row justify-content-center">
                    <button id="log-in-button" type="submit" class="btn btn-outline-primary col-xl-3 col-4">Log
                        In</button>
                </div>
            </form>
        </div>
    </div>

<!-- Sign up -->
    <div class="offcanvas offcanvas-start" tabindex="-1" id="signupOffcanvas"
        aria-labelledby="signupOffcanvas-label">
        <div class="offcanvas-header">
            <h5 class="offcanvas-title display-6" id="sign-up-bar-label">Sign Up</h5>
            <button class="btn-close" type="button" data-bs-dismiss="offcanvas"
                aria-labelledby="close"></button>
        </div>
        <div class="offcanvas-body">
            <form action="/signup" method="POST">
                <label for="signupUsername" class="form-label">Enter A Username:</label>
                <div class="input-group mb-4">
                    <span class="input-group-text">
                        <i class="bi bi-person-fill"></i>
                    </span>
                    <input type="text" class="form-control" id="signupUsername"
                        placeholder="e.g. Jacob123!" value="<%=username%>" name="signupUsername" maxlength="20", minlength="4" required>
                </div>

                <label for="signupEmail" class="form-label">Enter Your Email:</label>
                <div class="mb-4 input-group">
                    <span class="input-group-text">
                        <i class="bi bi-envelope-at-fill"></i>
                    </span>
                    <input type="email" class="form-control" id="signupEmail"
                        placeholder="e.g. example@example.com" name="signupEmail">
                        <h6 class="lead text-danger">Email already exists, please try another or sign in.</h6>
                    </div>

                <label for="signupPassword" class="form-label">Password:</label>
                <div class="mb-4 input-group">
                    <span class="input-group-text">
                        <i class="bi bi-incognito"></i>
                    </span>
                    <input type="password" class="form-control" id="signupPassword"
                        placeholder="P@ssw0rd123" name="signupPassword" value="<%=password%>" minlength="5" maxlength="20" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{6,}" title="Must be 6 or more characters long and contain at least one number, uppercase and lowercase letter" required>
                    </div>

                <label for="signupPasswordTwo" class="form-label">Re-Enter Password:</label>
                <div class="mb-4 input-group">
                    <span class="input-group-text">
                        <i class="bi bi-incognito"></i>
                    </span>
                    <input type="password" class="form-control" id="signupPasswordTwo"
                        placeholder="P@ssw0rd123" name="signupPasswordTwo" value="<%=password%>" minlength="5" maxlength="20" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{6,}" title="Must be 6 or more characters long and contain at least one number, uppercase and lowercase letter" required>
                    </div>

                <div class="row justify-content-center">
                    <button id="sign-up-button" class="btn btn-outline-primary col-xl-3 col-4">Sign
                        Up</button>
                </div>
            </form>
        </div>
    </div>
</div>